@mixin center-content-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

@mixin disableGrabAndSelect() {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
}