@import "/styles/resetMixins";
@import "/styles/mixins";

$trueSize: 160px;
$borderWidth: 18px;
$iconSize: 50px;
$shadowThickness: 6px;

$innerSize: $trueSize - 2 * $borderWidth;

.gestureCircle {
  @include buttonReset();
  position: relative;
  cursor: pointer;

  margin: $borderWidth;

  width: $innerSize;
  height: $innerSize;
  background-color: var(--gesture-background);
  border-radius: 50%;
  box-shadow: inset 0 $shadowThickness var(--shadow-light);

  img {
    @include disableGrabAndSelect();
    width: $iconSize;
  }

  &::before {
    content: "";
    cursor: pointer;
    z-index: -1;
    border-radius: 50%;

    width: $trueSize;
    height: $trueSize;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: var(--outline-background);

    box-shadow: inset 0 (-$shadowThickness) 0 0 var(--shadow-light),
      0 $shadowThickness var(--shadow-light);
  }
}

.paperGestureCircle {
  @extend .gestureCircle;
  --outline-background: var(--paper-gradient);
}

.rockGestureCircle {
  @extend .gestureCircle;
  --outline-background: var(--rock-gradient);
}

.scissorsGestureCircle {
  @extend .gestureCircle;
  --outline-background: var(--scissors-gradient);
}